@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
body {
  font-family: 'Roboto', sans-serif;
}

div {
    width: 50%;
    height: 35%;
    margin: 0;
    padding: 15px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}